doctype html
html
  head
    title Vojtcast podcast krysa věc
    meta(charset="UTF-8")
    meta(name="description", content="sýr pro všechny")
    meta(name="keywords" content="sýr pro tebe a sýr pro tebe a pro tebe taky")
    meta(name="viewport", content="width=device-width, initial-scale=1")
      
    // Links
    link(rel="stylesheet", type="text/css", href="assets/css/style.css")
      
    // Fonts
    // Open Sans 300 400 600
    link( rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,300&subset=latin,latin-ext", type="text/css")
      
    // Favicon.ico
    link(rel="shortcut icon", type="image/x-icon", href="assets/images/favicon.ico")
  body
    
    #content
      header
        .heading-wrapper
          h1 poudcasty and stuff
            img(src="assets/images/rat.svg")

      #podcast-listing-wrap
        article(class="clear-both")
          h2 Náš nejprvnější host, nedávno přejmenovaná... Perfumell

          .player-bg(class="clear-both")

            .thumbnail-wrap
              .thumbnail-image

            audio(controls)
              source(src="assets/images/wrecking_ball.mp3")



        

    // JavaScrirpt
